<!--<img src="cid:image-name" alt="logo">-->

<!--<p>Witaj {{{ email }}} w MegaK Head Hunter</p>-->

<!--<p>Zapisz swoje haslo {{{pass}}} i uzyj go do rejestracji kontaw ponizszym linku</p>-->

<!--<a href="{{registrationLink}}" target="_blank" >{{registrationLink}}</a>-->


<body
  style="font-family: Arial, sans-serif; background: #202323;display:flex; flex-direction:column; align-items:center; ">

<div style="padding:40px">


  <img src="https://github.com/Fremen1990/head-hunter-backend/blob/develop/assets/readme_logo.png?raw=true"
       alt="logo" style="width:400px" }>

  <h1 style="color:white">Witaj <strong> {{{ email }}} </strong> w MegaK Head Hunter</h1>

  <h2 style="color:white">Zapisz swoje haslo: <strong style="color:rgb(167, 42, 5)">{{{pass}}}</strong> i uzyj go do rejestracji kontaw
    ponizszym linku</h2>

  <a href="{{registrationLink}}" target="_blank">
    <button style="background:rgb(167, 42, 5); color:white; padding:15px; font-weight:bold; border-radius:10px">
    Kliknij aby aktywować!
    </button>
  </a>

</div>


</body>
